@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.slick-prev,
.slick-next {
  color: #13a89e !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}
