@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.slick-prev,
.slick-next {
  color: white !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}
.doctors .slick-prev,
.doctors .slick-next {
  color: #13a89e !important;
  border-radius: 50% !important;
  opacity: 1 !important;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.arrow-bounce {
  animation: bounce 2s infinite;
}
.ant-collapse-header {
  background-color: #13a89e !important;
  border-radius: 15px !important;
}
.ant-collapse-header {
  color: white !important;
}
.ant-collapse-item {
  border-color: transparent !important;
}
.ant-select-arrow {
  color: #13a89e !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none !important; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.no-scrollbar {
  -ms-overflow-style: none !important; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none !important; /* Hide scrollbar for Firefox */
}

.custom-menu .ant-menu-item,
.custom-menu .ant-menu-submenu-title {
  color: #000000 !important;
  background-color: #d0eeec !important;
}

.custom-menu .ant-menu-item-selected,
.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-submenu-title:hover,
.custom-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
  background-color: #13a89e !important;
  color: #ffffff !important;
}

.custom-menu .ant-menu-item .ant-menu-item-icon,
.custom-menu .ant-menu-item-selected .ant-menu-item-icon {
  color: #ffffff !important;
}

.custom-menu .ant-menu-item .ant-menu-item-icon {
  color: #000000 !important;
}

.custom-menu .ant-menu-item {
  border-color: #d0eeec !important;
}

.custom-menu .ant-menu-item-selected {
  border-color: #13a89e !important;
}
.custom-menu {
  background-color: #d0eeec !important;
  border-color: #d0eeec !important;
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #13a89e !important;
  border-radius: 16px !important;
  border: 2px solid transparent !important;
  background-clip: content-box !important;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-button {
  display: none !important;
}
html {
  scrollbar-width: thin !important;
  scrollbar-color: #13a89e transparent !important;
}

* {
  scrollbar-width: thin !important;
}
.ant-image-preview-switch-left,
.ant-image-preview-switch-right {
  background-color: #13a89e !important;
}
.select-bg .ant-select-selector {
  background-color: #d0eeec !important;
  border-radius: 25px !important;
}
